.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-frame{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 500px;
        height: 350px;
        border-radius: 30px;
        background: $color-foreground;
        &__circle{
            position: absolute;
            margin-top: -350px;
            @include flex-center;
            height: 100px;
            width: 100px;
            background-color: white;
            border-radius: 50%;
            img{
                width: 90%;
                height: 90%;
                object-fit: cover;
            }
        }
        &-form{
            margin-top: 50px;
            height: 125px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            &__input{
                padding-left: 20px;
                height: 40px;
                width: 300px;
                border-radius: 40px;
                color: $color-foreground;
                border: none;
                &:focus{
                    outline: none;
                    background: $color-secondary;
                }
            }
        }
    }
}