.container-profile {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-frame{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 500px;
        height: 450px;
        border-radius: 30px;
        background: $color-foreground;
        &__circle{
            position: absolute;
            margin-top: -450px;
            @include flex-center;
            height: 125px;
            width: 125px;
            background-color: white;
            border-radius: 50%;
            img{
                width: 90%;
                height: 90%;
                border-radius: 100%;
                object-fit: cover;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        &__back{
            position: absolute;
            margin-top: -440px;
            margin-left: -490px;
            @include flex-center;
            font-size: 1.2em;
            height: 30px;
            width: 30px;
            background-color: white;
            border-radius: 50%;
        }
        &-form{
            margin-top: 50px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            &__input{
                padding-left: 20px;
                height: 40px;
                width: 300px;
                border-radius: 40px;
                color: $color-foreground;
                border: none;
                &:focus{
                    outline: none;
                    background: $color-secondary;
                }
            }
        }
    }
}